<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Exchange Rates Details</title>
</head>
<body>

    <div class="navbar">
        <span class="title">EXCHANGE RATES DETAILS</span>

        {% if is_admin %}
            <button class="add-record" onclick="window.location.href='/exchangeRates/add'">Add New Record</button>
        {% endif %}
    </div>




    <!-- Filtering -->
    <form method="GET" action="/exchangeRates/search">
        <label for="country_name">Search by Country: </label>
        <input type="text" name="country_name" id="country_name" placeholder="Enter country name">
        
        <label for="series_name">Search by Series: </label>
        <select name="series_name" id="series_name">
            <option value="">-- Select Series --</option>
            <option value="Exchange rates: end of period">Exchange rates: end of period</option>
            <option value="Exchange rates: period average">Exchange rates: period average</option>
        </select>
        
        <button type="submit" class="search">Search</button>
    </form>
    
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Country Name</th>
            <th>Series</th>
            <th>Currency</th>
            <th>Value</th>
            <th>Unit</th>
            <th>Record Year</th>
            <th>Source</th>
            {% if is_admin %}
            <th></th>
            {% endif %}
        </tr>
        {% for detail in details %}
        <tr>
            <td>{{ detail.id }}</td>
            <td>{{ detail.country_name }}</td>
            <td>{{ detail.series }}</td>
            <td>{{ detail.currency }}</td>
            <td>{{ detail.value }}</td>
            <td>{{ detail.unit }}</td>
            <td>{{ detail.record_year }}</td>
            <td>{{ detail.source }}</td>
            {% if is_admin %}

            <td class="actions">
                <!-- Edit Button -->
                <button class="edit" onclick="window.location.href='/exchangeRates/edit/{{ detail.id }}'">Edit</button>
                <!-- Delete Button -->
                <form action="/exchangeRates/delete/{{ detail.id }}" method="POST" style="display:inline;">
                    <button type="submit" class="delete">Delete</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <!-- Previous Button -->
    <form action="/exchangeRates/previous" method="POST">
        <button type="submit"> < </button>
    </form>
    <!-- Next Button -->
    <form action="/exchangeRates/next" method="POST">
        <button type="submit"> > </button>
    </form>
    <a href="/">Back to Main Page</a>
</body>
</html>