<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Query Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>Welcome to the United Nations Stats</h1>
    <div class="button-container">
        <a href="/trade" class="button">Trade</a>
        <a href="/aid" class="button">Aid</a>
        <a href="/exchangeRates" class="button">Exchange Rates</a>
        <a href="/tourism" class="button">Tourism</a>
        <a href="/carbondioxide" class="button">CO2</a>
        <a href="/threatenedSpecies" class="button">Species</a>
        <a href="/internet" class="button">Internet Usage</a>
        <a href="/health" class="button">Health Expenditure</a>
    </div>
</body>
</html>
